.Header{
  margin-left: 30px;
}
.main_heading{
  font-size: xx-large;
  font-weight: 600;
}


.movies-list{
  display: flex;
  flex-wrap : wrap;
  padding : 1rem;
  justify-content: center;
}
.movies-card{
  width: 25vw;
  margin: 1rem;
  color: white;
  /* border : 2px solid black; */
border-radius: 5px;
}
.card-body{
  position: relative;
  height: 20vh;
}
.movies-title{
  position : absolute;
  top : 1rem;
  left :1.5rem;
  font-size: 15px;
}

.movies-button{
  position: absolute;
  padding-top: 0.5px;
  bottom: 1rem;
  left: 1.5rem;
}
.movies-img{
  border-radius: 6px;
  height: 40vh;
  width: 25vw;
}

.navbar{
 list-style: none;
}
.nav-link{
 color : black;
  border: 2px solid gray;
  border-radius: 8px;
  padding : 1px 30px;
}
.nav-link-active{
    padding : 1px 30px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
  color : white;
}